html {
  background-color: black
}

/*Header Section*/

body {
  border: 0;
  padding: 0;
  margin: 0;
}

header img{
  height: 50px;
  margin-left: 10px;
  padding-top: 10px;
}

nav {
  text-align: right;
  width: 100%;
}

nav li {
  display: inline-block;
  text-decoration: underline;
  padding-right: 20px;
  padding-top: 10px;
}

.link {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

.head {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
  z-index: 10;
  border-bottom: 1px solid white;
}

/*Contents Section*/


.column.top {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.column.top img {
  z-index: 5;
  width: 1200px;
  padding-top: 70px;
  position: relative;
}

h4, h2, h5, h3 {
  font-family: Helvetica;
  font-weight: bold;
  color: seashell;
}

.our {
  position: absolute;
  text-align: center;
  background-color: black;
  width: 1200px;
  z-index: 5;
}

.column.middle {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.month {
  position: absolute;
  text-align: center;
  background-color: black;
  width: 1000px;
}

.teatop {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  padding-top: 105px;
  background-color: black;
}

.teatop img, .teabottom img {
  height: 200px;
  width: 300px;
}

.teabottom {
  position: relative;
  display: flex;
  max-width: 1000px;
  padding-top: 40px;
  justify-content: center;
}

.berry h4 {
  position: absolute;
  text-align: center;
  width: 300px;
  padding-top: 10px;
  margin: 0 auto;
}

.rum h4{
  position: absolute;
  text-align: center;
  width: 300px;
  padding-top: 10px;
  margin: 0 auto;
}

.donut h4{
  position: absolute;
  text-align: center;
  width: 300px;
  padding-top: 10px;
  margin: 0 auto;
}

.ave img {
  padding-right: 18px;
}

.ave h4 {
  position: absolute;
  text-align: center;
  width: 300px;
  padding-top: 10px;
  margin: 0 auto;
}

.bedford img {
  padding-left: 18px;
}


.bedford h4 {
  position: absolute;
  text-align: center;
  width: 300px;
  padding-left: 18px;
  padding-top: 10px;
  margin: 0 auto;
}

.column.bottom {
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 1200px;
  margin-top: 300px;
}

.column.bottom h2{
  position: absolute;
  margin-top: 150px;
  text-align: center;
  width: 100%;
}

.column.bottom img {
  height: 500px;
  width: 1200px;
  position: absolute;
  padding-top: 500px;
  margin: 0 auto;
}

.box {
  display: flex;
  position: relative;
  top: 100px;
  margin: 0 auto;
}

.left {
  width: 300px;
  height: 300px;
  background-color: black;
}

.middle {
  width: 300px;
  height: 300px;
  background-color: black;
  margin-left: 40px;
  margin-right: 40px;
}

.right {
  width: 300px;
  height: 300px;
  background-color: black;
}


.teacozy {
  height: 200px;
  width: 100%
  position: absolute;
  text-align: center;
  padding-top: 200px;
}

.left h3 {
  margin-top: 40px;
  text-align: center;
  font-weight: normal;
}

.middle h3{
  margin-top: 40px;
  text-align: center;
  font-weight: normal;
}

.right h3 {
  margin-top: 40px;
  text-align: center;
  font-weight: normal;
}

/*Footer Section*/

p {
  font-family: Helvetica;
  font-weight: bold;
  color: seashell;
  margin-left: 20px;
  padding-bottom: 10px;
}
