html {
  background-color: rebeccapurple;
}

/*Header Section*/

body {
  border: 0;
  padding: 0;
  margin: 0;
}

header img{
  height: 50px;
  margin-left: 10px;
  padding-top: 10px;
}

nav {
  border: 1px solid white;
  text-align: right;
  width: 100%;
}

nav li {
  display: inline-block;
  text-decoration: underline;
  padding-right: 20px;
  padding-top: 10px;
}

.link {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

.head {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
  border: 3px solid green;
}

/*Contents Section*/
